<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hit.jobjob">
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/work_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/work_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityWelcome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".CalendarActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".AlarmActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".MailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ContactActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".CalculatorActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


    </application>

</manifest>